@model IEnumerable<SchoolSchedulingSystem.Models.Teacher>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a  asp-controller="TSchedule" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tutor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subj_of_Teacher)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tutor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subj_of_Teacher)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID_Teacher">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID_Teacher">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID_Teacher">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
